<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width="", initial-scale=1.0">
    <title>Web Based Centralized Network Management System</title>
</head>
<body>
    <h1>Welcome to Web Based Centralized Network Management System</h1>
    <a href="{% url 'dashboard' %}">
        <button type="button" h>monitoring dashboard</button>
    </a>
    <a href="{% url 'dashboard' %}">
        <button type="button" h>Network Management</button>
    </a>
</body>
</html>
